<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}  {% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script> {% endcomment %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
    <body style="padding-top: 70px">
        <nav class="navbar navbar-default navbar-fixed-top">    
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Todo List</a>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock body %}
    </body>
</html>